---
import "../styles/global.scss";

const { title, description, og_img } = Astro.props

const prodURL = "https://fiscalizaja.com"
let social_img = og_img || "https://fiscalizaja.com/fiscaliza-logo_social.png"

const href = Astro.url.pathname
---

<html lang="pt-br">
    <head>
        <title>{title}</title>
        <meta name="description" content={description} />
        <meta name="keywords" content="fiscalizajá, câmara dos deputados, portal da câmara dos deputados, deputados federais, despesas dos deputados federais, gastos dos deputados" />

        <meta property="og:type" content="website" />
        <meta property="og:url" content={prodURL + href} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={social_img} />

        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={prodURL + href} />
        <meta property="twitter:title" content={title} />
        <meta property="twitter:description" content={description} />
        <meta property="twitter:image" content={social_img} />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <link rel="sitemap" href="https://fiscalizaja.com/sitemap.xml" />
    </head>
    <body>
        <slot />
    </body>
</html>